@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 20px;
}

.bullet li::marker {
  color: #2a7a3d;
}

.bullet {
  padding-left: 16px;
}

header h1 {
  color: #2a7a3d;
  text-align: center;
  line-height: 100%;
}

header figure {
  text-align: center;
}

header figure img {
  border-radius: 100%;
}

header h3 {
  text-align: center; 
  font-size: 22px; 
  font-weight: 500;
  line-height: 100%;
}

.contact-info ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

.contact-info ul li::before {
  background-image: url(images/icon1.png);
  background-size: 20px 19px;
  width: 20px;
  height: 19px;
  content: "";
  position: absolute;
  left: 0;
}

.contact-info ul li:nth-child(2)::before  {
  background-image: url(images/icon2.png);
  background-size: 12px 19px;
  width: 12px;
  height: 19px;
}

.contact-info ul li:last-child::before {
  background-image: url(images/icon3.png);
  background-size: 14px 19px;
  width: 14px;
  height: 19px;
  top: 13px;
}

.contact-info ul li {
  position: relative;
  padding-left: 30px;
}

h2 {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

h2::after {
  content: "";
  background: #2a7a3d;
  height: 5px;
  width: 50px;
  position: absolute;
  bottom: 15px;
  right: -54px;
}

.hr {
  border: none;
  border-bottom: 7px solid #2a7a3d;
}

.skills ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.skills ul li {
  position: relative;
}

.skills ul li::after {
  content: "";
  width: 1px;
  height: 16px;
  background: #2a7a3d;
  position: absolute;
  top: 5px;
  right: -37px;
}

.skills ul li:last-child::after {
  display: none;
}

.skills {
  padding: 20px 0;
  margin-bottom: 20px;
}

.experience span, .college span {
  color: #2a7a3d;
  font-style: italic;
}

.experience > div {
  margin-bottom: 20px;
}

.experience > div p:nth-child(2) {
  font-weight: 500;
}
